*{
    margin: 0;
    padding: 0;
}
body{
    background:url(../images/bg-body.jpg) no-repeat scroll center center;
    background-size: cover;
    background-attachment: fixed;
}
#InputForm{
    padding: 50px;
    background:#286090;
    border-radius: 8px;
    box-shadow: 0 0 10px 1px black;
}
.form{
    position: relative;
    color: white;
    font-weight: bolder;
    padding: 55px 30px;
    box-shadow: inset 18px 0 25px black,inset -18px -0px 25px black;
    border-radius: 5px;
    text-align: center;
}
input[type="submit"]{
    color:black;
    height: 23px;
    width: 30%;
    min-width: 80px;
    border: none;
    border-radius: 4px;
    background:white;
    margin-top: 8px;
    box-shadow: 1px 1px 3px black;
}
input[type="submit"]:focus{
    outline: none;
}
input[type="submit"]:active{
    box-shadow: inset 2px 2px 3px black;
}
select:focus,input[type="text"]:focus,input[type="date"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="file"]:focus{
    box-shadow: 0 0  12px 4px dodgerblue;
}
select,input[type="text"],input[type="date"],input[type="number"],input[type="email"],input[type="file"]{
    width: 50%;
    min-width: 140px;
    height: 23px;
    border-radius: 4px;
    border: none;
    color: #000;
    margin: auto;
    display: inline;
    background: white;
}
#success {
    text-align: center;
    padding: 0 10px;
    width: 450px;
    background: rgba(0, 200, 60, 0.6);
    border-radius: 5px;
    box-shadow: 0 0 8px 2px black;
    position: absolute;
    left:31%;
    top:100px;
    z-index: 9999;
}
#error{
    text-align: center;
    padding:5px 20px;
    width: 450px;
    background:rgba(255,0,0,0.6);
    border-radius: 5px;
    box-shadow: 0 0 8px 2px black;
    margin: auto;
    position: absolute;
    left:35%;
    top:100px;
    z-index: 9999;
}
#success>h3,#error>h3{
    font-size: 18px;
    color: black;
    text-shadow: 2px 2px 2px white;
}
table{
    background: white;
}
tr>td:last-child{
    width:40%;
}
.container{
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}
.nav>li>a{
     color: white;
}
.nav>li>a:hover{
     color: black;
}
.nav{
    border-radius: 5px;
    background: rgba(255,255,255,.25);
}
h2{
    height: 50px;
    line-height: 50px;
    margin-top: 0;
    box-shadow: 1px 2px 10px black;
}
#topHead{
    z-index: 111;
}
.primary{
    color: #fff;
    background-color: #286090;
    border-color: #2e6da4;
}
.tophead,.primary:hover {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}
a,li{
    -webkit-transition:  all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}
.right{
    float: right;
}
select#select{
    float: right;
    min-width:115px;
    max-width: 115px;
    width:115px !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#searchID{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.showBtn{
    margin-top: 5px;
    margin-bottom: 5px;
}
.big{
    width:0;
    position: absolute;
    -webkit-transition: width 0.3s linear 0s;
    transition: width 0.3s linear 0s;
    z-index: 9999;
    border-radius: 2px;
    box-shadow: 2px 2px 15px black;
}
.small:hover + .big{
    width:300px;
}
.heading{
    height:30px;
    width:30px;
  }